/* @media (max-width:402px) 
{

    html
    {
        font-size:50%
    }

    .card{
        margin-top: 10px;
    }

    .card2{
        margin-top: 10px;
    }

    .card3{
        margin-top: 10px;
    }

    .text-block{
        top:3150px;
        right:10px;
    }

    .third{
        height:480px;
    }



} */